body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

main.content {
  margin-top: 20px;
}
body.dark {
  background-color: #121212;
  color: #ddd;
}

body.dark header {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark .card {
  color: white;
}

body.dark footer {
  background-color: #1e1e1e;
  color: #aaa;
}
